header {
  width: 100%;
}

nav {
  display: flex;
  width: min(90%, 1600px);
  overflow: hidden;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
}
.logo img {
  width: 50%;
  height: 80%;
  object-fit: contain;
  z-index: 1;
}
.links {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}
.links ul {
  display: flex;
  gap: min(5rem, 5vw);
  justify-content: center;
  align-items: center;
}

.links li {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.demo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.request {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.get-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0055af;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
}
