.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  height: 100%;
  width: 100%;
}

.image-1 {
  grid-area: 1 / 1 /2;
  width: 90%;
  height: 120%;
  background-color: var(--main-accent-color);
  border-radius: 20px;
  z-index: -1;
  position: relative;
  top: 50%;
}

.image-1 > img {
  width: 500px;
  height: 400px;
  object-fit: contain;
  border-radius: 20px;
  z-index: 5;
  position: absolute;
  right: -25%;
  bottom: -20%;
  z-index: -1;
}

.image-2 {
  grid-area: 1 / 2 / 3;
  width: 100%;
  height: 200px;
  position: relative;
  top: -20%;
  z-index: 2;
  border-radius: 20px;
  overflow: hidden;
}
.image-3 {
  grid-area: 2 / 2 / 3;
  width: 70%;
  height: 150px;
  z-index: 3;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .image-1 > img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 20px;
    z-index: 5;
    position: absolute;
    right: -30%;
    bottom: -40%;
  }
}
@media screen and (max-width: 821px) {
  .image-1 > img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 20px;
    z-index: 5;
    position: absolute;
    right: -35%;
    bottom: -30%;
  }
}

@media screen and (max-width: 426px) {
  .image-container {
    width: 70%;
    margin: 0 auto;
    place-content: center;
    position: relative;
    left: 10%;
  }
}
