.landing-page {
  display: flex;
}

.left-side,
.right-side {
  width: 100%;
}

h1 {
  font-size: clamp(3rem, 5vw, 64px);
  width: min(15ch, 15.2ch);
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.catch-body {
  width: min(50ch, 70.2ch);
  margin-bottom: 1rem;
  font-size: clamp(1.1rem, 5.7vw, 14px);
}

.request-demo-button {
  padding: 0.9rem 1.5rem;
  outline: none;
  border: none;
  background-color: var(--main-accent-color);
  color: var(--main-footer-color);
  border-radius: 25px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: clamp(0.4rem, 5.4vw, 64px);
  }
  .catch-body {
    font-size: clamp(0.5rem, 3.4vw, 13px);
    width: min(40ch, 50.2ch);
  }
  .request-demo-button {
    padding: 0.6rem 1.2rem;
    font-size: 12px;
  }
}

@media screen and (max-width: 426px) {
  .landing-page {
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  h1 {
    font-size: clamp(2.3rem, 5.1vw, 64px);
  }
}
