* {
  --main-font-color: #000;
  --main-accent-color: #37a6ab;
  --main-footer-color: #fff;
  --section-font-color: #022a4e;
  --footer-color: hsl(183, 51%, 24%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.is-a-container {
  width: min(90%, 1200px);
  margin: 0 auto;
  margin-block: 5rem;
}

.reverse > div > .content-section {
  flex-direction: row-reverse;
}

.has-color {
  background-color: #ffffffaa;
}

.has-color:nth-child(1) {
  background-color: red;
}

.is-a-footer {
  background-color: var(--footer-color);
}

.is-landing {
  height: 65vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--main-font-color);
}

body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
}
