* {
  --main-font-color: #000;
  --main-accent-color: #37a6ab;
  --main-footer-color: #fff;
  --section-font-color: #022a4e;
  --footer-color: hsl(183, 51%, 24%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.is-a-container {
  width: min(90%, 1200px);
  margin: 0 auto;
  margin-block: 5rem;
}

.reverse > div > .content-section {
  flex-direction: row-reverse;
}

.has-color {
  background-color: #ffffffcd;
}

.push-up {
  margin-top: -0.1rem;
  background-color: #ffffff;
}


.is-a-footer {
  background-color: var(--footer-color);
}

.is-landing {
  height: 65vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--main-font-color);
}

body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
}

/* GSAP SPECIFIC ANIMATIONS */
.ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}
.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}
.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.ipsGrid::before,
.ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}
.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.ipsGrid > .ipsGrid_span5 {
  width: 40.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  width: 57.44680851063829%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

@media screen and (max-width: 426px) {
  .reverse > div > .content-section {
    flex-direction: row-reverse;
  }
}
