* {
  --main-font-color: #000;
  --main-accent-color: #0055af;
  --main-font-color: #fff;
  --section-font-color: #022a4e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.is-a-container {
  width: min(90%, 1200px);
  margin: 0 auto;
  margin-block: 5rem;
}
