* {
  --main-font-color: #000;
  --main-accent-color: #0055af;
  --main-font-color: #fff;
  --section-font-color: #022a4e;
  --footer-color: hsl(153, 48%, 29%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.is-a-container {
  width: min(90%, 1200px);
  margin: 0 auto;
  margin-block: 5rem;
}

.reverse > div > .content-section {
  flex-direction: row-reverse;
}

.has-color {
  background-color: #f2f2f2;
}

.is-a-footer {
  background-color: var(--footer-color);
}

.is-landing {
  height: 65vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
